<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<div class="container mt-5">
    <form action="/edit/<%= blog._id %>" method="POST">
        <h3 class="my-3">Compose your Blog here....</h3>
        <input type="text" value = "<%= blog.title %>" name="title" placeholder="Enter Title" class="form-control" required>
        <textarea  name="content"  cols="30" rows="10" class="mt-3 form-control" required placeholder="Enter your content here......"><%= blog.content %></textarea>
        <input type="submit" value="Save Changes" class="mt-4 btn btn-md btn-danger">
    </form>
</div>

<%- include("./partials/footer") %>